button{
    background: black;
    margin: 50px 50px;
    border-radius: 10px;
    border-color: red;
}
a{
    font-style: none;
    font: Arial;
    color: red;
}
html{
    background: black;
}
body{
    background: url(linux.png);
    
}
.p{
    font-family: Impact, Haettenschweiler;
    color:rgba(244, 255, 0, 0.8);
    padding: 3rem;
    font-size: 3rem;
    padding-left: 30rem;
    padding-top: 18rem;
}
