button{
    background:rgba(20, 20, 20, 0.3);
    margin: 50px 50px;
    border-radius: 7px;
    border-color: red;
    color: black;
}
a{
    font:Arial;
    font-style: none;
    color: rgba(0, 255, 0, 0.3);
}
html{
    background:rgb(10, 10, 10);
}
body{
    background: url(997f83ab-410a-4bf1-995d-89b618cacbb4.jpeg);
    background-size: cover;
    border-radius: 1rem;
    size: cover;
}
.p{
    font-family: Impact, Haettenschweiler;
    color:rgba(244, 255, 0, 0.8);
    padding: 3rem;
    font-size: 3rem;
    text-align: center;
}
