button{
    background:rgba(0, 0, 0, 0,7);
    margin: 1.5rem 1rem;
    border-radius: 7px;
    border-color: red;
    color: black;
}
html{
    background: black;
}
body{
    background: url(linux.png);
    
}
.p{
    font-family: Impact, Haettenschweiler;
    color:rgba(244, 255, 0, 0.8);
    padding: 3rem;
    font-size: 3rem;
    padding-left: 30rem;
    padding-top: 18rem;
}
