button{
    background:rgba(255, 255, 255, 0,5);
    margin: 50px;
    border-radius: 5px;
    border-color: black;
    color: black;
}
html{
    background: black;
}
body{
    background: url(linux.png);
    
}
.p{
    font-family: Impact, Haettenschweiler;
    color:rgba(244, 255, 0, 0.8);
    padding: 3rem;
    font-size: 3rem;
    padding-left: 30rem;
    padding-top: 18rem;
}
