button{
    background:rgba(0, 0, 0, 0,3);
    margin: 1.5rem 1rem;
    border-radius: 7px;
    border-color: red;
    color: black;
}
a{
    font-style:none;
}
html{
    background: black;
}
body{
    background: url(997f83ab-410a-4bf1-995d-89b618cacbb4.jpeg);
    background-size: contain;
    padding: 10rem;
}
.p{
    font-family: Impact, Haettenschweiler;
    color:rgba(244, 255, 0, 0.8);
    padding: 3rem;
    font-size: 3rem;
    text-align: center;
}
